@font-face {
	font-family: 'Zelda Advance';
	src: url(fonts/zeldadxt.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Zelda Advance';
	box-sizing: border-box;
}

body {
	background: #001e4d;
}

.app {
	
}
